/* You can add global styles to this file, and also import other style files */
code {
  font-size: 0.8rem;
  background: #f8f9fa;
  padding: 2px 5px;
  border-radius: 4px;
}

.table {
  margin-bottom: 0;
}

.card {
  border-radius: 12px;
  overflow: hidden;
}
